<p>I am learning Angular Lockdown ! </p>
<p>hello {{ myobject.location }}</p>

    <ul>
        <li *ngFor="let arr of myArr"> NGFOR- {{ arr }} </li>
    </ul>
<p *ngIf="myArr"> NGIF - Checking myArr Obj exisit</p>

<p *ngIf="myArr; else otherTmpl"> NGIF ELSE TEMPLATE - Checking myArr Obj exisit</p>
<ng-template #otherTmpl> No, I do.</ng-template>

<p *ngIf="obj; then tmpl1 else tmpl2"> NGIF ELSE TEMPLATE - Checking myArr Obj exisit</p>
<ng-template #tmpl1> IF TEMPLATE 1</ng-template>
<ng-template #tmpl2>  ELSE TEMPLATE 2</ng-template>

<div>
    <p> Image Property Binding</p>
    <img src="{{ angularLogo }}">
    <img [src]=" angularLogo">
    <img bind-src="angularLogo">
</div>
<div>
    <p> Button</p>
    <button [disabled] ="buttonStatus">MY BUTTON</button>
    
</div>
<div>
    <p> Event Binding Button - check MDM page for more events</p>
    <button (click) ="myEvent($event)">CLICK MY BUTTON </button>
    <button (mouseenter) ="myEvent($event)">Mouse Enter MY BUTTON</button>
    
</div>